<div class="container">
    <div class="btn-toolbar">
    <button (click)="getproduct()" class="btn btn-success btn-sm"><i class='fa fa-list fa-2x'> </i></button>
    
    <button class="btn btn-success btn-sm" routerLink="/ajoutproduit"><i class="fa fa-plus-square fa-2x"  aria-hidden="true"></i></button>
    </div>
    
    <div class="card text-white mb-3" *ngIf="produits">
    <div class="card-header bg-success ">Liste des produits</div>
       
        <div class="card-body">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Taille</th>
                <th>Couleur</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Promotion</th>
                <th>Modifier</th>
                <th>Supprimer</th>
    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of produits">
                <td>{{prod.name}}</td>
                <td>{{prod.taille}}</td>
                <td>{{prod.couleur}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.currentprice}}</td>
                <td>{{prod.promotionng}}</td>
                <td><button class="btn btn-success" (click)="modifierproduit(prod.id)"><i class='fa fa-edit'></i></button></td>
                <td><button class="btn btn-danger" (click)="deleteproduit(prod.id)"><i class="fa fa-trash"></i>
                    </button></td>
            </tr>
        </tbody>
    </table>
    
    
        </div>
    </div>
    
    

</div>
