.gradient-custom {
    /* fallback for old browsers */
    background: #cde640;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(175, 206, 65), rgb(85, 173, 82));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(213, 215, 223), rgb(28, 75, 204))
  }