<br>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Pernalisation</div>
        <div class="card-body">
          <div id="canvas-wrapper" class="editor-area" [style.backgroundColor]="bgc">
            <div class="canvas-bg-wrapper">
              <img class="canvas-bg" alt="" src='assets/{{selectedValue}}'>
              <canvas width="400" height="560" id="c"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Paramètres</div>
        <div class="card-body">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Selectionner votre produit :</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedValue">
              <option [value]="image" *ngFor="let image of tabimage"> {{image}}</option>

            </select>
            <br>
            <span class="tim-note">Choisir</span> le couleur du produit
            <input [(ngModel)]="bgc" class="form-control" type="color">
          </div>
          <br>
          <div class="controls">
            <span class="tim-note">Choisir</span> une image
            <input type="file" class="form-control-file btn" name="file" id="uploadImg">


            <button class="btn btn btn-info" id="btn">Inserer un texte<div class="ripple-container"></div></button>

            <div id="textMenu" class="hideOperations">

              Size<br><input type="range" min="5" max="150" value="40" id="size">
              <input type="range" min="0.1" max="5" value="0.1" id="height"><br>
              <span>Text Color</span><input type="color" id="color">
              <br>
              <span>BackGround Color</span><input type="color" id="bg-color">
            </div>

            <button class="btn btn btn-info" id="btnshape">Inserer une forme<div class="ripple-container"></div>
              </button>

            <button class="btn btn btn-info" id="deleteObjects" (click)="diminuerprix()">Supprimer l'objet<div
                class="ripple-container"></div></button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>