<br>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Pernalisation</div>
        <div class="card-body">
          <div id="canvas-wrapper" class="editor-area" [style.backgroundColor]="bgc">
            <div class="canvas-bg-wrapper">
              <!-- <img class="canvas-bg" alt=""  src='assets/{{selectedValue}}'> -->
              <canvas width="500" height="560" id="c"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Paramètres</div>
        <div class="card-body">
          <div>
            <!-- <label for="exampleFormControlSelect1">Selectionner votre produit :</label>
            <select class="form-control" id="uploadImg2" [(ngModel)]="selectedValue">
              <option [value]="image" *ngFor="let image of tabimage"> {{image}}</option>

            </select> -->
            <br>
           
          </div>
          <br>
          <div class="">
            <span class="tim-note">Choisir</span> un produit
            <input type="file" class="form-control-file btn" name="file" id="uploadImg2">
            <span class="tim-note">Couleur</span> 
            <input [(ngModel)]="bgc" class="" type="color"><p></p>
            <span class="tim-note">Choisir</span> une image
            <input type="file" class="form-control-file btn" name="file" id="uploadImg"><br>
            <button class="btn btn btn-info" id="btn">Inserer un texte<div class="ripple-container"></div></button>

            <div id="textMenu" class="hideOperations">

              Size<br><input type="range" min="5" max="150" value="40" id="size">
              <input type="range" min="0.1" max="5" value="0.1" id="height"><br><p></p>
              <span>Text Color   </span><input type="color" id="color">
              
              <span>    BackGround Color   </span><input type="color" id="bg-color">
            </div>
            <p></p>
            <table>
              <tr>
                <td><button class="btn btn btn-info" id="btnshape">Inserer un rectangle<div class="ripple-container"></div>
                </button></td>
                <td><p></p></td>
                <td><button class="btn btn btn-warning" id="b">Mes dimentions<div class="ripple-container"></div>
                </button></td>
              </tr>
            </table>

            
             
              <label for="hauteur">Hauteur</label>
              <p id="hauteur"> </p>
              <label for="largeur">Largeur</label>
              <p id="largeur"> </p>

            <button class="btn btn btn-info" id="deleteObjects">Supprimer l'objet<div class="ripple-container"></div></button><p></p>
            <button class="btn btn btn-info" id="save">Télécharger votre image<div class="ripple-container"></div></button>
          </div>
          
          
          

        </div>

      </div>
    </div>
  </div>
</div>
